<a href="https://colab.research.google.com/github/Vinothkumarkumar/Balance-scale-data_Assignment/blob/main/Balance_scale_data_Task_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import csv

In [3]:
column_names = ["Class Name", "Left-Weight", "Left-Distance", "Right-Weight", "Right-Distance"]
column_names

['Class Name',
 'Left-Weight',
 'Left-Distance',
 'Right-Weight',
 'Right-Distance']

In [4]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/balance-scale/balance-scale.data', names = column_names)
df

    Class Name  Left-Weight  Left-Distance  Right-Weight  Right-Distance
0            B            1              1             1               1
1            R            1              1             1               2
2            R            1              1             1               3
3            R            1              1             1               4
4            R            1              1             1               5
..         ...          ...            ...           ...             ...
620          L            5              5             5               1
621          L            5              5             5               2
622          L            5              5             5               3
623          L            5              5             5               4
624          B            5              5             5               5

[625 rows x 5 columns]

In [16]:
#Check the number of data points and features in the data.

df.count()

Class Name        625
Left-Weight       625
Left-Distance     625
Right-Weight      625
Right-Distance    625
dtype: int64

In [18]:
df.count(axis = 1 )

0      5
1      5
2      5
3      5
4      5
      ..
620    5
621    5
622    5
623    5
624    5
Length: 625, dtype: int64

In [19]:
df.shape

(625, 5)

In [23]:
df["Class Name"].unique()

array(['B', 'R', 'L'], dtype=object)

In [25]:
df["Left-Weight"].unique()

array([1, 2, 3, 4, 5])

In [ ]:
df["Left-Weight"].unique()

In [29]:

df2 = pd.unique(df[["Class Name", "Left-Weight", "Left-Distance", "Right-Weight", "Right-Distance"]].values.ravel())
df2

array(['B', 1, 'R', 2, 3, 4, 5, 'L'], dtype=object)

In [20]:
u_value = df.nunique()
u_value

Class Name        3
Left-Weight       5
Left-Distance     5
Right-Weight      5
Right-Distance    5
dtype: int64

In [22]:
type(df)

pandas.core.frame.DataFrame

In [5]:
df.describe()

       Left-Weight  Left-Distance  Right-Weight  Right-Distance
count   625.000000     625.000000    625.000000      625.000000
mean      3.000000       3.000000      3.000000        3.000000
std       1.415346       1.415346      1.415346        1.415346
min       1.000000       1.000000      1.000000        1.000000
25%       2.000000       2.000000      2.000000        2.000000
50%       3.000000       3.000000      3.000000        3.000000
75%       4.000000       4.000000      4.000000        4.000000
max       5.000000       5.000000      5.000000        5.000000

In [14]:
df["New Column"] = ""
df

,Class Name,Left-Weight,Left-Distance,Right-Weight,Right-Distance,New Column
0,B,1,1,1,1,
1,R,1,1,1,2,
2,R,1,1,1,3,
3,R,1,1,1,4,
4,R,1,1,1,5,
...,...,...,...,...,...,...
620,L,5,5,5,1,
621,L,5,5,5,2,
622,L,5,5,5,3,
623,L,5,5,5,4,
624,B,5,5,5,5,

In [15]:
df.drop("New Column", axis = 1 , inplace = True)

In [16]:
df

    Class Name  Left-Weight  Left-Distance  Right-Weight  Right-Distance
0            B            1              1             1               1
1            R            1              1             1               2
2            R            1              1             1               3
3            R            1              1             1               4
4            R            1              1             1               5
..         ...          ...            ...           ...             ...
620          L            5              5             5               1
621          L            5              5             5               2
622          L            5              5             5               3
623          L            5              5             5               4
624          B            5              5             5               5

[625 rows x 5 columns]

In [17]:
df["Sum of Weight"] = df["Left-Weighdft"] + df["Right-Weight"] 
df

,Class Name,Left-Weight,Left-Distance,Right-Weight,Right-Distance,Sum of Weight
0,B,1,1,1,1,2
1,R,1,1,1,2,2
2,R,1,1,1,3,2
3,R,1,1,1,4,2
4,R,1,1,1,5,2
...,...,...,...,...,...,...
620,L,5,5,5,1,10
621,L,5,5,5,2,10
622,L,5,5,5,3,10
623,L,5,5,5,4,10
624,B,5,5,5,5,10

In [24]:
df.iloc[0:2,4]

0    1
1    2
Name: Right-Distance, dtype: int64

In [27]:
df.loc[[1]]

,Class Name,Left-Weight,Left-Distance,Right-Weight,Right-Distance,Sum of Weight
1,R,1,1,1,2,2

In [28]:
df.isnull()

,Class Name,Left-Weight,Left-Distance,Right-Weight,Right-Distance,Sum of Weight
0,False,False,False,False,False,False
1,False,False,False,False,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,False,False,False,False,False
...,...,...,...,...,...,...
620,False,False,False,False,False,False
621,False,False,False,False,False,False
622,False,False,False,False,False,False
623,False,False,False,False,False,False
624,False,False,False,False,False,False

In [29]:
df.isnull().any()

Class Name        False
Left-Weight       False
Left-Distance     False
Right-Weight      False
Right-Distance    False
Sum of Weight     False
dtype: bool

In [30]:
df.isnull().sum()

Class Name        0
Left-Weight       0
Left-Distance     0
Right-Weight      0
Right-Distance    0
Sum of Weight     0
dtype: int64